{% extends 'base.html' %}

{% load static %}

{% block head %}

<title>Cemex</title>

<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}

{% block body %}

<!-- <div id="vanta-canvas" class="vanta-canvas"></div> -->

<script src="{% static 'js/p5.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.21/vanta.topology.min.js"></script>
<script>
VANTA.TOPOLOGY({
  el: "#vanta-canvas",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0xFD6A02,
  backgroundColor: 0xffffff
})
</script>

<div class="hero">
    <div class="hero-big">
        Profesionistas de confianza y calidad para tus proyectos inmobiliarios.
    </div>
    <a href="" class="hero-small">
        Forma tu equipo ahora
        <span class="material-icons">arrow_forward</span>
    </a>
</div>

{% endblock %}