/* STRUCTURE */
body {
    background-color: var(--white);
}

.vanta-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

/* HERO */
.hero {
    color: var(--body);
    width: 700px;
    margin-top: 10%;
}

@keyframes float-in {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    20%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes float-in-2 {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    20%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.hero-big {
    font-size: 68px;
    font-weight: 900;
    margin-bottom: 1rem;
    animation-name: float-in;
    animation-duration: 1s;
}
.hero-small {
    font-size: 26px;
    font-weight: 300;
    animation-name: float-in-2;
    animation-duration: 2.6s;
    transition: all 0.2s ease-in-out;
}
.hero-small span {
    font-size: 26px;
    transform: translateY(5px);
    transition: all 0.2s ease-in-out;
}
.hero-small:hover span {
    transform: translate(10px, 5px);
    color: var(--orange);
}
